@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Hurricane&family=Inspiration&family=Junge&family=Smooch+Sans:wght@300;400&display=swap');
@import './variables';
@import './reset';


header {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/header/headerBackground.png");
    background-position: center center;
    height: 210px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
    }
    div img  {
        border-radius: 10%;
        animation-name: fadein;
        animation-duration: 2s;
        height: 180px;
        @keyframes fadein {
            from {opacity: 0;}
            to {opacity: 1;}
        }
    }
    div:nth-child(2) {
        @media (max-width: 615px) {
            flex-direction: column !important;
            align-items: center;
            justify-content: start !important;
        }
    }
    ul {
        list-style: none;
        display: flex;
        padding: 10px;
        animation-name: fadein;
        animation-duration: 2s;
        height: fit-content;
    }
    li {
        padding: 0px 30px 0px 30px;
        @media (max-width: 615px) {
            min-width: 200px;
            padding: 0;
        }
        &:hover #submenu  {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            animation-name: fadein;
            animation-duration: 2s;
            border-left: 1px solid $colorGreen;

            
        }

        div {
            display: none;
            a {
                padding: 10px;
            }
        }
        
    }
    
    a {
        color: $colorSecundario;
        font-family: $fontPrimaria;
        font-size: 2rem;

        &:hover {
            border-bottom: 1px solid $colorGreen;
        }
    }
    div p {
        background-image: none;
    }
}
.burgerBtn {
    display: none;
    @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 30px;
    color: $colorGrey;
    font-size: 1.5rem;
    background-image: url("../img/header/wood2.jpg");
}
}
.showMenu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transition: 3s;
}
@media (max-width: 767px){
.hideMenu {
    display: none;
}
}

.headerFadeUp {
    transform: translateY(-210px);
    transition: 5s;
}
.headerShow {
    transform: translateY(0px);
    transition: 5s;
}
.divMainText {
    margin-top: 100px;
    margin-bottom: 250px;
}
.mainText {
    font-size: 2rem;
    background-image: none;
}


//**CAROUSEL MAIN**//
.carouselMargins {
    margin-bottom: 300px;
}
.carouselHeight {
    height: 200px;
    width: 200px;
    transition: 5s;

    @media (max-width: 992px) {
        height: 300px;
        width: 760px;
        }
    @media (max-width: 768px) {
        height: 265px;
        width: 580px;
        }
    @media (max-width: 576px) {
        height: 200px;
        width: 350px;
        }
 
   
}
.carouselSize {
    height: 200px;
    width: 200px;
    transition: 5s;
    @media (max-width: 992px) {
        height: 300px;
        width: 760px;
    }
    @media (max-width: 768px) {
        height: 265px;
        width: 580px;
    }
    @media (max-width: 576px) {
        height: 200px;
        width: 350px;
    }
   
}
.carouselText {
    text-align: center;
    font-family: $fontPrimaria;
    font-size: 2rem;
    font-weight:500;
    
}
.carouselReSize {
    @media (min-width: 992px) {
        height: 580px;
        width: 100%;
        transition: 5s;
        z-index: 10;
    }
}
.carouselReSizeInner {
    @media (min-width: 992px) {
        height: 580px;
        width: 100%;
        transition: 5s;
    }
}


//**TEXTO CONTACTO MAIN**//
p {
    color: $colorSecundario;
    font-family: $fontPrimaria;
    font-size: 2rem;
    margin-top: 20px;
    background-image: url(../img/wood-pattern.png);
}
.hide {
    display: none;
}
.show {
    display: block;
    animation-name: fadeInParrafo;
    animation-duration: 5s;
    background-color: $colorPrimario;
    border-radius: 2%;
    @keyframes fadeInParrafo {
        from {opacity: 0; transform: scale(0.5);}
        to {opacity: 1; transform: scale(1);}
    }
}

//**FORMULARIO CONTACTO MAIN**//
.mainContacto {
    background-color: $colorGrey;
    margin: 100px 0px 200px 0px;
@media (min-width: 576px) {
    margin: 50px 0px 50px 0px;
}
}
.form-control {
    font-family: $fontPrimaria;
    font-size: 2rem;
}


//**FOOTER **//
footer {
    background-image: url("../img/slides/portada.jpg");
    background-position: center center;
    // background-size: cover;
    
}
.footerAnimation {
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    @keyframes grow {
        from{height: 158px;}
        to {height: 275px}
    }
    @media (min-width: 576px) {
        @keyframes grow {
        from {height: 158px}
        to {height: 275px}
    }
}
    @media (min-width: 616px) {
        @keyframes grow {
        from {height: 158px}
        to {height: 260px}
    }
}    
    @media (min-width: 767px) {
        @keyframes grow {
        from {height: 158px}
        to {height: 330px}
    }
}    
    @media (min-width: 1200px) {
        @keyframes grow {
        from {height: 158px}
        to {height: 340px}
    }
}
    @media (min-width: 1350px) {
        @keyframes grow {
        from {height: 158px}
        to {height: 420px}
    }
}

}
.iconsEntrance {
    animation-name: leftToRight;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    
}
@keyframes leftToRight {
    0% {transform: translateX(-1400px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 1;}
}
.spin {
    animation-name: whirl;
    animation-duration: 60s;
}
@keyframes whirl {
    from{transform: rotateY(0deg);}
    to { transform: rotateY(3600deg);}
}
.divSocialIcons {
    height: 50px;
    margin-top: 50px;
}
