@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Hurricane&family=Inspiration&family=Junge&family=Smooch+Sans:wght@300;400&display=swap');
@import "./reset.scss";
@import "./variables.scss";


header {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/header/headerBackground.png");
    background-position: center center;
    height: 210px;
    @media (max-width: 768px) {
        justify-content: start;
    }
    @media (max-width: 615px) {
        justify-content: center;
        height: fit-content;
    }
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
    }
    div img  {
        border-radius: 10%;
        animation-name: fadein;
        animation-duration: 2s;
        height: 180px;
        @keyframes fadein {
            from {opacity: 0;}
            to {opacity: 1;}
        }
    }
    div:nth-child(2) {
        @media (max-width: 615px) {
            flex-direction: column !important;
            align-items: center;
            justify-content: start !important;
        }
    }
    ul {
        list-style: none;
        display: flex;
        padding: 10px;
        animation-name: fadein;
        animation-duration: 2s;
        height: fit-content;
    }
    li {
        padding: 0px 30px 0px 30px;
        @media (max-width: 615px) {
            min-width: 200px;
            padding: 0;
        }
        &:hover #submenu  {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            animation-name: fadein;
            animation-duration: 2s;
            border-left: 1px solid $colorGreen;

            
        }

        div {
            display: none;
            a {
                padding: 10px;
            }
        }
        
    }
    
    a {
        color: $colorSecundario;
        font-family: $fontPrimaria;
        font-size: 2rem;

        &:hover {
            border-bottom: 1px solid $colorGreen;
        }
    }
}
.burgerBtn {
    display: none;
    @media (max-width: 615px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 30px;
    color: $colorGrey;
    font-size: 1.5rem;
    background-image: url("../img/header/wood2.jpg");
}
}
.showMenu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transition: 3s;
}
@media (max-width: 615px){
.hideMenu {
    display: none;
}
}

.home {
    animation-name: fadeHome;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    display: none;
}
.btnHome:hover .home {
    display: block;
@keyframes fadeHome {
    from{transform: translateX(110px); opacity: 0;}
    to {transform: translateX(-50px); opacity: 1;}
    
    }
}


.mainIndex {
    background-color: $colorBrownWood;
}
.carouselHeight {
    height: 370px;
}

footer {
    background-color: $colorGreen;
}
.iconsEntrance {
    animation-name: leftToRight;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    
}
@keyframes leftToRight {
    0% {transform: translateX(-1400px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 1;}
}
.spin {
    animation-name: whirl;
    animation-duration: 60s;
}
@keyframes whirl {
    from{transform: rotateY(0deg);}
    to { transform: rotateY(3600deg);}
}

.mainContacto {
    background-color: $colorSecundario
}
.form-control {
    font-family: $fontPrimaria;
    font-size: 2rem;
}
.whatsapp {
border-radius: 50%;
width: 76px;
height: 76px;
animation-name: wapLight;
animation-iteration-count: infinite;
animation-duration: 6s;

@keyframes wapLight {
    0% {background-color: transparent; opacity: 1;}
    50% {background-color: #25D366; opacity: 0;}
    100% {background-color: transparent; opacity: 1;}
}
&:hover {

}
}
